@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Customize website's scrollbar like Mac OS
Not supports in Firefox and IE */

  /* total width */
  .scrollbar::-webkit-scrollbar {
    background-color: #52eba4;
    width: 4px;
    border-radius: 4px;
  }

  /* scrollbar itself */
  .scrollbar::-webkit-scrollbar-thumb {
    background-color: #ff2e63;
    border-radius: 4px;
  }

  /* set button(top and bottom of the scrollbar) */
  .scrollbar::-webkit-scrollbar-button {
    display: none;
  }
}
